span{
			margin-right: 5px;
		}
		#mess{
			position: fixed;
			left: 50%;
			z-index: 10;
			display: none;
			margin-left: -100px;
		}
		.container-fluid{
			margin-top: 15px;
		}
		#menu{
			float: left;
			margin-left: -40px;
		}
		#name1{
			margin-left: 80px;
		}
		#name2{
			margin-left: 150px;
		}
		#in_menu{
			margin-left: 90px;
		}
		#link{
			margin-left: 160px;
		}
		#publ{
			margin-left: 5px;
		}
		#menu_del{
			margin-left: 5px;
		}
		#sortable{
			list-style: none;
		}
		.gallery_right{
			position: relative;
			float: right;
			font-size: 12px;
		}
		.gallery_del{
			float: right;
			margin-left: 20px;
			margin-top: -1px;
			margin-right: -13px;
		}
		.line,.album_line{
			border: #C5C5C5 solid 1px;
			margin: 5px;
			padding: 3px;
			padding-left: 40px;
			padding-right: 25px;
			min-width: 290px;
		}
		.line_head{
			border: #C5C5C5 solid 1px;
			margin: 5px;
			margin-left: 30px;
			border-radius: 3px;
			padding: 3px;
			padding-left: 10px;
		}
		.menu_id{
			position: absolute;
			margin-left: -30px;
			margin-top: 7px;
			display: block;
			width: 30px;
		}
		.in_menu{
			margin-left: 11px;
		}
		.publ{
			margin-left: 40px;
		}
		.menu_del{
			margin-left: 50px;
		}
		.ed{
			width: 35px;
		}
		.comment{
			position: relative;
			min-height: 60px;
			width: 100%;
			border: #C5C5C5 solid 1px;
			margin: 10px 0 5px 0;
			border-radius: 5px;
			height: 120px;
		}
		.comment form{
			width: 100%;
		}
		.com_text{
			position: absolute;
			top:22px;
			left:120px;
			width:100%;
		}
		.com_name_date{
			position: absolute;
			top:3px;
			left:120px;
			font-size: 0.8em;
		}
		.com_ava{
			margin: 5px;
			width: 100px;
		}
		.com_del{
			position: absolute;
			top:10px;
			right:10px;
		}
		.comm_news_submit{
			position: absolute;
			right:3px;
			top: 80px;
		}
		#paginator .active{
			color: white;
			text-decoration: none;
			padding: 4px;
			border-radius: 3px;
		}
		.page{
			margin-right: 5px;
		}
		#edit_date{
			margin-bottom: 10px;
		}